
.footer__socials {
    display: flex;
    gap: 10px;
    color: #f9f0f0;
    justify-content: center;
  }
  
  
  .follow-principle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 500;
    color:white;
    padding: 10px;
    margin-left: 30px;
  }
  
  
  .centered-content {  
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin-top:-60px;
  }
 .footer__container {
    background-color: green;
    padding-top: -1rem;
    font-size: 1.5rem;
    color: var(--color-gray-100);
    margin-top: 10rem; 
    height: 315px;  
 }
.footer__logo{
    max-width:30%;
    margin-top:-25;
}

